# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.app
/WindowsServerPlatform/.vs/WindowsServerPlatform/v16
/WindowsServerPlatform/Obj/Release/Win32
*.rdb
*.log
*.iobj
*.ipdb
*.pdb
*.exp
*.suo
*.db
*.opendb
*.tlog
/WindowsServerPlatform/Run/Release/Win32/Server.lib
