# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.app
/WindowsServerPlatform/.vs/WindowsServerPlatform/v16
/WindowsServerPlatform/Obj/Release/Win32
*.rdb
*.log
*.iobj
*.ipdb
*.pdb
*.exp
*.suo
*.db
*.opendb
*.tlog
/WindowsServerPlatform/Run/Release/Win32/Server.lib
b6672c31c95382be
/linuxserverplatform/.vs
/linuxserverplatform/ServerKernel/readme
/linuxserverplatform/ServerKernel/~
/linuxserverplatform/ServerKernel/bin
/linuxserverplatform/ServerKernel/obj
/WindowsServerPlatform/Run/Release/Win32/CenterServer.exe
/WindowsServerPlatform/Run/Release/Win32/Common.dll
/WindowsServerPlatform/Run/Release/Win32/GameManage.dll
/WindowsServerPlatform/Run/Release/Win32/Kernel.dll
/WindowsServerPlatform/Run/Release/Win32/LoaderServer.exe
/WindowsServerPlatform/Run/Release/Win32/LogonServer.exe
